{
    "extends": ["standard", "plugin:vue/essential"],
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "vue",
        "html",
        "promise"
    ],
    "rules": {
    },
    "overrides": [{
        "files": ["*.vue"],
        "rules": {
            "indent": "off",
            "vue/script-indent": ["error", 4, { "baseIndent": 4 }]
        }
    }]
}