/** 
 * max-screen.css  
 * 
 * adapt big screen
 */

 @import url('common/index.css');
 @import url('aside/aside.css');
 @import url('article/article.css');
 @import url('footer/footer.css');

/* html, body */
html, body {
    height: 100%;
    background-color: #e0e0e0;
    background-image: url('../assets/image/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
/* container */
.container {
    position: relative;
    padding-left: 310px;
    height: 100%;
}