/** 
 * max-screen.css  
 * 
 * adapt big screen
 */

 @import url('common/index.css');
 @import url('aside/aside.css');
 @import url('body/body.css');
 @import url('article/index.css');
 @import url('footer/footer.css');

html, body {
    height: 100%;
    background-color: #e0e0e0;
    background-image: url('../assets/image/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
body {
    font-size: 14px;
    font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", 
                Arial, Verdana, "Helvetica Neue", Helvetica, Tahoma, Georgia, 
                "Nimbus Roman No9 L", "Songti SC", "Courier New", Times, 
                Georgia, Georgia, "Nimbus Roman No9 L", "Songti SC", 
                STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, 
                SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", 
                "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", 
                PMingLiU, MingLiU, sans-serif;
}
.container {
    position: relative;
    padding-left: 310px;
    height: 100%;
}