/* article-list */
.article-list {
    padding-bottom: 30px;
}
.article-list-item {
    margin-top: 25px;
    box-shadow: 0 0 5px #cecece;
}
.article-list-item:hover {
    box-shadow: 0 0 10px #b3b3b3;
}
.article-list-item:first-child {
    margin-top: 0;
}
.article-list-item-top {
    padding: 20px;
    overflow: hidden;
}
.article-list-item-top:hover {
    border-left: 5px solid #444444;
}
.article-list-item-title {
    float: left;
    font-size: 22px;
    color: #000000;
    cursor: pointer;
}
.article-list-item-title:hover {
    color: #8b7e7e;
    transition: color .3s;
}
.article-list-item-date {
    float: right;
    font-size: 13px;
    font-weight: 800;
    color: #aaaaaa;
}
.article-list-item-date-icon, .article-list-item-category-icon, .article-list-item-tags-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #aaaaaa;
}
.article-list-item-date-text, .article-list-item-tags-cloud {
    display: inline-block;
    vertical-align: middle;
}
.article-list-item-category-icon {
    font-size: 17px;
}
.article-list-item-tags-cloud {
    margin-left: 3px;
}
.article-list-item-introduction {
    padding: 20px 20px 0;
}
.article-list-item-introduction-text {
    font-size: 16px;
}
.article-list-item-introduction-split {
    margin-top: 20px;
    display: block;
    border-radius: 50%;
    border-top: 1px solid #d3d3d3;
}
.article-list-item-bottom {
    padding: 20px;
    overflow: hidden;
}
.article-list-item-category, .article-list-item-tags {
    float: left;
}
.article-list-item-tags {
    margin-left: 15px;
}
.article-list-item-detail {
    float: right;
    padding: 4px;
    font-size: 12px;
    border-radius: 2px;
    background: #00bbff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.article-list-item-detail:hover {
    background: #99cc99;
}
