/* article */
.article-container {
    position: relative;
    padding: 30px;
    min-height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    opacity: .85;
}
.article-list {
    padding-bottom: 30px;
}
.article {
    margin-top: 25px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #cecece;
}
.article:hover {
    box-shadow: 0 0 10px #b3b3b3;
}
.article:first-child {
    margin-top: 0;
}
.article-top {
    padding: 20px;
    overflow: hidden;
}
.article-top:hover {
    border-left: 5px solid #444444;
}
.article-title {
    float: left;
    font-size: 22px;
    color: #000000;
    cursor: pointer;
}
.article-title:hover {
    color: #8b7e7e;
    transition: color .3s;
}
.article-date {
    float: right;
    font-size: 13px;
    font-weight: 800;
    color: #aaaaaa;
}
.article-date-icon, .article-category-icon, .article-tags-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #aaaaaa;
}
.article-date-text, .article-tags-cloud {
    display: inline-block;
    vertical-align: middle;
}
.article-category-icon {
    font-size: 17px;
}
.article-tags-cloud {
    margin-left: 3px;
}
.article-introduction {
    padding: 20px 20px 0;
}
.article-introduction-split {
    margin-top: 20px;
    display: block;
    border-radius: 50%;
    border-top: 1px solid #e7e7e7;
}
.article-bottom {
    padding: 20px;
    overflow: hidden;
}
.article-category, .article-tags {
    float: left;
}
.article-tags {
    margin-left: 15px;
}
.article-detail {
    float: right;
    padding: 4px;
    font-size: 12px;
    border-radius: 2px;
    background: #00bbff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.article-detail:hover {
    background: #99cc99;
}
